U2ZEIG_10_19/szemelyekU2ZEIG.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE szemelyek [
        <!ELEMENT szemelyek (szemely)*>
        <!ELEMENT szemely (nev|kor|varos)*>
        <!ATTLIST szemely
                id CDATA #REQUIRED>
        <!ELEMENT nev (#PCDATA)>
        <!ELEMENT kor (#PCDATA)>
        <!ELEMENT varos (#PCDATA)>
        ]>
