U2ZEIG_10_12/JB_konyv1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="könyvek">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="könyv">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="cim" type="xs:string" />
              <xs:element name="szerzo" type="xs:string" />
              <xs:element name="szereplo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nev" type="xs:string" />
                    <xs:element name="baratja" type="xs:string" />
                    <xs:element name="szuletett" type="xs:string" />
                    <xs:element name="jellemzes" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="masikszereplo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nev" type="xs:string" />
                    <xs:element name="baratja" type="xs:string" />
                    <xs:element name="szuletett" type="xs:string" />
                    <xs:element name="jellemzes" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="isbn" type="xs:unsignedLong" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>