U2ZEIG_09_28/JB_konyv.dtd

<!DOCTYPE konyvek [
        <!ELEMENT konyvek (konyv)*>
        <!ELEMENT konyv (cim|ev|kiado|szerzo)*>
        <!ATTLIST konyv
                kod CDATA #REQUIRED>
        <!ELEMENT cim (#PCDATA)>
        <!ELEMENT ev (#PCDATA)>
        <!ELEMENT kiado (#PCDATA)>
        <!ELEMENT szerzo (#PCDATA)>
        ]>